.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item {
    flex: 1 1 300px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.gallery-item h3 {
    font-size: 1.2em;
    margin-top: 0;
}

.image-caption {
    font-style: italic;
    text-align: center;
    color: #555;
    margin-top: 10px;
}


body, p, li {
    text-align: justify;
}

/* Exclude the author bio section */
.author-box, .sidebar, .bio, .widget-area {
    text-align: left; /* or right/center based on preference */
}

.publication-collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.publication-item {
  position: relative;
  padding: 10px; /* Adds some padding between the image and background */
  border-radius: 5px; /* Optional for rounded corners */
}

/* Alternating background colors for the tiles */
.publication-item:nth-child(odd) {
  background-color: #FFFFFF ; /* Mild yellow #f9f5d7 */
}

.publication-item:nth-child(even) {
  background-color: #FFFFFF; /* Mild blue or green #d7f5f9 */
}

.publication-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px; /* Matches the outer border */
}

.publication-item:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Animation to circulate the grid items */
@keyframes grid-shuffle {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-10px, -10px); }
  50% { transform: translate(10px, 10px); }
  75% { transform: translate(0px, 10px); }
  100% { transform: translate(0, 0); }
}

.publication-item:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
